.span8.pull-left
  = simple_form_for(resource, :validate => true, :as => resource_name, :url => confirmation_path(resource_name), :html => {:class => 'well form form-horizontal registration-box' }) do |f|
    %h2 Resend confirmation instructions
    .inputs
      = f.text_field :email, :class => "text top", :placeholder => "Email"
    .form-actions
      = f.submit "Resend confirmation instructions", :class => "btn btn-success"
      = link_to "Forgot your password?", new_password_path(resource_name), :class => "btn"
      %hr
      = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
      = link_to "Login", new_session_path(resource_name)

.offset8.registration-slogan


