.span8.pull-left
  = simple_form_for(resource, :validate => true, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'well form form-horizontal registration-box' }) do |f|
    %h2 Your Awesome - Check your email to Confirm
    .inputs
      = f.text_field :username, :class => "text top", :placeholder => "Username"
      = f.text_field :email, :class => "text top", :placeholder => "Email"
      = f.password_field :password, :class => "text top", :placeholder => "Password"
      = f.password_field :password_confirmation, :class => "text top", :placeholder => "Password Confirmation"
    .form-actions
      %hr
      = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
      = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)

.offset8.registration-slogan


