= javascript_include_tag "home.js"
= content_for :javascripts do
  = javascript_include_tag("https://maps.googleapis.com/maps/api/js?sensor=false")
  = javascript_include_tag("http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.5/src/markerwithlabel.js")

= content_for :navbar_extras do
  %form#search_form.navbar-search
    %input#search_query.search-query.span3{:placeholder => "Search For A Company, Jobs, Freelancers, Events..."}

= content_for :eventsbar do
  = render partial: 'partial_templates/events_bar'
