<div class="pull-left span4">
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "well form-horizontal login-box" }) do |f| %>
      <%= f.text_field :email, :class => "text top", :placeholder => "Email" %>
      <%= f.password_field :password, :class => "text bottom", :placeholder => "Password"  %>

      <% if devise_mapping.rememberable? -%>
          <div class="clearfix inputs-list">
            <label class="checkbox remember_me" for="user_remember_me">
              <%= f.check_box :remember_me %><span>Remember me</span>
            </label>
          </div>
      <% end -%>
      <br/>
      <%= f.submit "Sign in", :class => "btn btn-primary" %>
      <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
          <%= link_to "Forgot your password?", new_password_path(resource_name), :class => "btn" %><br />
      <% end -%>

  <% end %>
</div>
<div class="offset4">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'well form-horizontal registration-box' }) do |f| %>
      <% if resource.errors.any? %>
        <div class="alert alert-error"><p>Please fix the following errors.</p>
          <ul>
        <% for error in resource.errors.full_messages %>
          <li><%= error %></li>
        <% end %>
        </ul></div>
      <% end %>
      <%= f.text_field :username, :class => "text top", :placeholder => "Username",:required => true%>
      <%= f.text_field :email, :class => "text top", :placeholder => "Email",:required => true%>
      <%= f.password_field :password, :class => "text top", :placeholder => "Password",:required => true%>
      <%= f.password_field :password_confirmation, :class => "text top", :placeholder => "Password Confirmation",:required => true%>
      <br/>
      <%= f.submit "Sign up", :class => "btn btn-success signup" %>
  <% end %>
</div>


