.span8.pull-left
  = simple_form_for(resource, :validate => true, :as => resource_name, :url => registration_path(resource_name), :html => {:class => 'well form form-horizontal registration-box' }) do |f|
    %h2 Sign Up as a Freelancer
    .inputs
      #experience-input
        = f.input :username, :required => true, :placeholder => "Username", label: false, :input_html => { :required => true, :class => "text top"}
        = f.input :name, :required => true, :placeholder => "Full Name", label: false, :input_html => { :class => "text top"}
        = f.input :email, :required => true, :placeholder => "Email", label: false, :input_html => { :required => true, :class => "text top"}
        = f.input :password, :required => true, :placeholder => "Password", label: false, :input_html => { :required => true, :class => "text top"}
        = f.input :password_confirmation, :required => true, :placeholder => "Password Confirmation", label: false, :input_html => { :required => true, :class => "text top"}
      
        = f.input :job_title, :required => true, :placeholder => "Job Title", label: false, :input_html => { :required => true, :class => "text top"}
        = f.input :experience, :required => true, :placeholder => "Experience (Years)", label: false, :input_html => { :required => true, :class => "text top"}
      %br
      #multi-input
        = f.association :tools, :as => :check_boxes, :collection => Freelancer::ALLOWED_TOOLS_AS_OPTIONS
        = f.association :languages, :as => :check_boxes, :collection => Freelancer::ALLOWED_LANGUAGES_AS_OPTIONS
        = f.association :platforms, :as => :check_boxes, :collection => Freelancer::ALLOWED_PLATFORMS_AS_OPTIONS
      %br
      = f.text_field :personal_url, :class => "text top", :placeholder => "Personal URL"
      = f.text_field :github, :class => "text top", :placeholder => "Github"
    .form-actions
      = f.submit "Sign up", :class => "btn btn-success"
      = link_to "Forgot your password?", new_password_path(resource_name), :class => "btn"
      %hr
      =# link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name)
      = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name)

.offset8.registration-slogan


