.span12.new_company
  - if @job.new_record?
    %p Please fill out as many fields as you can. Including more details with your posting will help job-seekers find it more readily.
    %p By default, all job postings will stay live for 30 days. If your position is still open after that time, you may re-post it.
  .span6
    .well
      .form-inputs.row
        - if @job.new_record?
          = f.association :company, :label_method => :name, :collection => CompanyService.find_all_by_user(current_user)
        = f.input :title, :as => :string
        = f.input :kind, :label => "Type", :as => :radio_buttons, collection: JobService.kinds
        = f.input :role, :as => :radio_buttons, collection: JobService.roles
        = f.input :skill_list,  :as => :string, :labels => 'Skills', :hint => 'Comma-separated list'
        = f.input :salary_low, label: "Salary Range", wrapper_html: { class: 'controls-row' } do
          .input-append
            = f.input_field :salary_low, as: :numeric
            %i.add-on ,000
          &nbsp; to &nbsp;
          .input-append
            = f.input_field :salary_high, as: :numeric
            %i.add-on ,000
        = f.input :hourly_low, label: "Hourly Range", wrapper_html: { class: 'controls-row' } do
          .input-prepend
            %i.add-on $
            = f.input_field :hourly_low, as: :numeric
          &nbsp; to &nbsp;
          .input-prepend
            %i.add-on $
            = f.input_field :hourly_high, as: :numeric
        = f.input :equity_low, label: "Equity Range", wrapper_html: { class: 'controls-row' } do
          .input-append
            = f.input_field :equity_low, as: :numeric
            %i.add-on %
          &nbsp; to &nbsp;
          .input-append
            = f.input_field :equity_high, as: :numeric
            %i.add-on %
        = f.association :city, :label_method => :name_for_select, :collection => CityService::all
        = f.input :zip_code,  :as => :string, hint: 'Optional'
        = f.input :email, label: 'Contact E-mail'
        = f.input :link, label: 'Details Link'

  %br
  .control-group
    .controls
      .actions
        = f.submit 'Post Job', class: "btn btn-success btn-save"

