%table.table.table-striped.table-bordered.table-condensed
  %thead
    %th Title
    %th.cred Actions

  - @jobs.each do |job|
    %tr
      %td= job.title
      %td.actions
        = link_to content_tag(:i, nil, :class => 'icon-edit icon-large'), [ :edit, job ], id: "edit_#{job.id}", class: "btn small"
        = link_to content_tag(:i, nil, :class => 'icon-trash icon-large'), job, method: :delete, id: "edit_#{job.id}", class: "btn small", :confirm => 'are you sure?'

= link_to "List a new job", new_job_path, class: 'btn btn-important'

= paginate @jobs
