#loading
- @users_status.each do |row|
  %br
  .status-wrapper
    .user-status
      %h3
        = row[0].titleize
    .more-link
      = link_to 'More...', '#'
  %br
  %hr
  #endorsings
    - row[1].each_with_index do |user, index|
      - unless user.recommendies.blank?
        .endorsement.span3{class: "rec-#{index}"}
          .recommendie-gravatar
            = link_to image_tag("#{user.avatar.url(:thumb)}", class: 'thumb'), show_freelancer_users_url(user.username)
          .recommendie-details
            %h3
              = link_to user.name.titleize, show_freelancer_users_url(user.username)
            %h6 
              = user.try(:job_title).try(:titleize)
            %h6
              = "Endorsed: #{user.recommendies.try(:first).try(:skill_type).try(:name)}"
            %hr
            - user.recommendies.select(:user_id).uniq.each_with_index do |record, index|
              - r = Recommendation.where(user_id: record.user_id).first
              - rc = r.recommendi
              = link_to image_tag("#{rc.avatar.url(:icon)}", class: 'icon'), show_freelancer_users_url(rc.username)