#loading
- @users_status.each do |row|
  %br
  .row{style: "margin-left: 0px;"}
    .status-wrapper
      .user-status
        %h3
          = row[0].titleize
      .more-link
        = link_to 'More...', '#'
    %br
    %hr
    #endorsings
      - row[1].each_with_index do |user, index|
        - next if user.top_endorsers.count < 3
        .span3.recommendi-box
          .recommendie-gravatar
            = link_to image_tag(user.avatar.url(:thumb), class: 'thumb'), show_freelancer_users_url(user.username)
          .row{style: "width: 60%; float: left;"}
            .recommendie-details
              %h3
                = link_to user.try(:name).try(:titleize), show_freelancer_users_url(user.username)
              %h6 
                = user.discipline.try(:name).try(:titleize)
            %hr
            .recommenders
              - user.top_endorsers.each do |u|
                = link_to (image_tag u.avatar.url(:small), class: 'small'), show_freelancer_users_url(u.username)