- company = user.companies.first
- if user.is_freelancer?
  .span3.recommendi-box
    .recommendie-gravatar
      = link_to image_tag(user.avatar.url(:thumb_small), class: 'thumb_small'), show_freelancer_users_url(user.username)
    .recommendie-details
      %h3
        = link_to user.try(:name).try(:titleize), show_freelancer_users_url(user.username)
      %h5
        = user.discipline.try(:name).try(:titleize)
- else
  - company = user.companies.first
  - unless company.blank?
    = link_to (image_tag company.image.url(:thumb_small)), 'javascript:void(0)', class: 'company', id: "company-#{company.id}"
    .companies{id: "companies-#{company.id}", style: "display: none;"}
      %h3
        = company.name
      %h4
        = company.address