.span2#search-panel
  %hr
  %h3 Developer
  = form_tag(users_path, class: 'custom fullwidth-drops', onsubmit: "return false" ) do |f|
    %hr
    %h4 Platforms
    %div#platforms
      - Platform.all.each do |p|
        %label.checkbox.inline{name: 'platforms_in'}
          = check_box_tag :platforms_in, p.id, false, class: 'check_boxes optional'
          = p.name
    %hr
    %h4 Languages
    %div#languages
      - Language.all.each do |p|
        %label.checkbox.inline{name: 'platforms_in'}
          = check_box_tag :platforms_in, p.id, false, class: 'check_boxes optional'
          = p.name

.span10#details-panel
  = render partial: 'filter_freelancers'   