.span2#search-panel
  %h3 Platforms
.span10#details-panel
  - User::WORK_STATUS.each do |status|
    %br
    .status-wrapper
      .user-status
        %h3
          = status.titleize
      .more-link
        = link_to 'More...', '#'
    %br
    %hr
    #endorsings
      - User.where("status=? and is_freelancer=?", status, true).all.each_with_index do |user, index|
        -# unless user.recommendies.group(:user_id).length < 0
        - unless user.recommendies.blank?
          - recommendie = user
          .endorsement.span3{class: "rec-#{index}"}
            .recommendie-gravatar
              = image_tag "#{recommendie.gravatar}?s=100"
            .recommendie-details
              %h3
                = recommendie.name.titleize
              %h6 
                = recommendie.try(:job_type).try(:name).try(:titleize)
              %h6
                = "Endorsed: #{user.recommendies.try(:first).try(:skill_type).try(:name)}"
              %hr
              - recommendie.recommendies.group(:user_id).each_with_index do |r, i|
                - rc = r.recommendi
                = link_to image_tag("#{rc.gravatar}?s=20"), show_freelancer_users_url(rc.username), target: '_blank'