.span2#basic_bio
  %br
  %br
  = image_tag "#{@freelancer.gravatar}?s=180"
  %h2
    = @freelancer.name.titleize

  %br
  %br
  .rate.info
    %h6
      = "Rate: #{@freelancer.rate}"
  %hr
  .github.info
    = link_to "Github", @freelancer.github, target: '_blank'
  %hr
  .personal-url.info
    = link_to "Personal URL", @freelancer.personal_url, target: '_blank'
  %hr
  .email.info
    = link_to "Email", "mailto:#{@freelancer.email}"
  %hr
.span10#detail_bio
  - if @freelancer.recommendations.count < 3
    - if current_user && current_user.id = @freelancer.id
      - name = 'You'
    - else 
      - name = @freelancer.name.titleize
    .span8
      - unless viewing_own_profile?
        .red-label
          %h5
            = "Endorsement requires an account - Login"
      - else
        %h5 
          = "Edit your profile "
    .span1
      - if viewing_own_profile?
        .edit-link
          = link_to 'Edit', edit_profile_users_path, class: 'btn'
    %br
  %hr
  %h2
    = @freelancer.name.titleize
  %h1
    = @freelancer.status.upcase || "AVAILABALE"
  %h5
    = "#{show_freelancer_users_url(@freelancer.username)} (share)"
  %hr
  - if @freelancer.recommendations.count < 3
    .red-label
      %h5
        = "Endorsed: #{name} need #{3 - @freelancer.recommendations.count} more endorsement to show up in search results"
  - else
    %h5 Endorsements:
  %br
  - @freelancer.recommendations.each_with_index do |recomd, index|
    %h6
      = "#{index+1 }. #{recomd.skill_type.name}"
  %hr
  %h5 Job Title
  %h2
    = @freelancer.job_type.name.titleize
  %h6
    = "#{@freelancer.experience} years experience"
  %br
  %h5 Platforms
  %h6
    = @freelancer.platforms.collect(&:name).join(", ")

  %br
  %h5 Languages
  %h6
    = @freelancer.languages.collect(&:name).join(", ")

  %br
  %h5 Tools
  %h6
    = @freelancer.tools.collect(&:name).join(", ")
  %hr
  %h5 Location
  %h6
    = "Lives in #{@freelancer.town} and only works #{@freelancer.remote_onsite}"

  %hr
  %h5 Endorsing:
  %br
  #endorsings
    - @freelancer.recommendations.each_with_index do |recommendation, index|
      - recommendie = recommendation.recommendi
      .endorsement.span3{class: "rec-#{index}"}
        .recommendie-gravatar
          = image_tag "#{recommendie.gravatar}?s=100"
        .recommendie-details
          %h3
            = recommendie.name.titleize
          %h6 
            = recommendie.job_type.name.titleize
          %h6
            = "Endorsed: #{recommendation.skill_type.name}"
          %hr

  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  %br