
= content_for :navbar_extras do
  %form#search_form.navbar-search
    %input#search_query.search-query.span3{:placeholder => "search for a job..."}


%table#jobs_list.jobs-table{:data => gmap_data}
  %thead
    %tr
      %th.title{:sort => "string"}
        Job Title
        %b.caret
      %th.company{:sort => "string"}
        Company
        %b.caret
      %th.compensation
        Compensation
      %th.location{:sort => "string"}
        Location
        %b.caret
      %th.contact
        Contact
      %th.date{:sort => "int"}
        Date Posted
        %b.caret
  %tbody
    - if @jobs.empty?
      %tr
        %td(colspan=5) Sorry, no matching listings found
    - else
      - @jobs.each do |job|
        %tr
          %td= link_to job.title, job.clickthrough, target: '_blank'
          %td= job.company_name
          %td= "#{job.formatted_salary_low} - #{job.formatted_salary_high}"
          %td= job.city_name
          %td= link_to job.email, "mailto:#{job.email}"
          %td{:date => job.posted_date_timestamp}= job.posted_date

#search_params{ :data => search_params_data }
= render :partial => 'jquerytpl'
