= content_for :eventsbar do
  = render partial: 'partial_templates/events_bar'

.filters
  .dropdown-menu-container
    .btn-group.btn-category-group
      %ul.dropdown-ul
        %li.dropdown.menu-item-container
          %a.btn.btn-categories.dropdown-toggle{ :role => "button", :href => "#", :data => { :toggle => "dropdown" } }
            Category
            %b.caret
          %ul.dropdown-menu#category-filter-menu{:role => "menu" }
            - @categories.each do |category|
              %li
                %a.btn-category{:href => "#", :data => { :category_id => category.id }}=category.name
    .btn-group.btn-employee-group
      %ul.dropdown-ul
        %li.dropdown.menu-item-container
          %a.btn.btn-employees.dropdown-toggle{ :role => "button", :href => "#", :data => { :toggle => "dropdown" } }
            Employees
            %b.caret
          %ul.dropdown-menu#employee-filter-menu{:role => "menu" }
            - @employees_types.each do |employee|
              %li
                %a.btn-employee{:href => "#", :data => { :employee_id => employee.id }}=employee.name
    .btn-group.btn-investment-group
      %ul.dropdown-ul
        %li.dropdown.menu-item-container
          %a.btn.btn-investments.dropdown-toggle{ :role => "button", :href => "#", :data => { :toggle => "dropdown" } }
            Investment
            %b.caret
          %ul.dropdown-menu#investment-filter-menu{:role => "menu" }
            - @investments_types.each do |investment|
              %li
                %a.btn-investment{:href => "#", :data => { :investment_id => investment.id }}=investment.name
    .btn-group.btn-skills-group
      %ul.dropdown-ul.has-scroll
        %li.dropdown.menu-item-container
          %a.btn.btn-skills.dropdown-toggle{ :role => "button", :href => "#", :data => { :toggle => "dropdown" } }
            Skills
            %b.caret
          %ul.dropdown-menu#skills-filter-menu{:role => "menu" }
            - @skills.each do |skill|
              %li
                %a.btn-skill{:href => "#", :data => { :skill_name => skill.name }}= skill.name

    .btn-group.btn-category-group
      %ul.dropdown-ul
        %li.dropdown.menu-item-container
          %a.btn.btn-categories.dropdown-toggle{ :role => "button", :href => "#", :data => { :toggle => "dropdown" } }
            Type
            %b.caret
          %ul.dropdown-menu#kind-filter-menu{:role => "menu" }
            - @kinds.each do |kind|
              %li
                %a.btn-kind{:href => "#", :data => { :kind => kind }}= kind

    .btn-group.btn-category-group
      %ul.dropdown-ul
        %li.dropdown.menu-item-container
          %a.btn.btn-categories.dropdown-toggle{ :role => "button", :href => "#", :data => { :toggle => "dropdown" } }
            Role
            %b.caret
          %ul.dropdown-menu#kind-filter-menu{:role => "menu" }
            - @roles.each do |role|
              %li
                %a.btn-role{:href => "#", :data => { :role => role }}= role

%table#jobs_list.jobs-table{:data => gmap_data}
  %thead
    %tr
      %td Job Title
      %td Company
      %td Compensation
      %td Location
      %td Date Posted

  %tbody
    - if @jobs.empty?
      %tr
        %td(colspan=5) Sorry, no matching listings found
    - else
      - @jobs.each do |job|
        %tr
          - if job.link.present?
            %td= link_to job.title, job.link
          - elsif job.email.present?
            %td= link_to job.title, "mailto:#{job.email}"
          - else
            %td= job.title
          %td
            - if job.thumbnail_url.present?
              = image_tag job.thumbnail_url, alt: job.company_name, title: job.company_name
            - else
              = job.company_name
          %td= "#{job.formatted_salary_low} - #{job.formatted_salary_high}"
          %td= job.city_name
          %td= job.posted_date

#search_params{ :data => search_params_data }
= render :partial => 'jquerytpl'
