
= content_for :navbar_extras do
  %form#search_form.navbar-search
    %input#search_query.search-query.span3{:placeholder => "search for a company..."}

= content_for :eventsbar do
  = render partial: 'partial_templates/events_bar'

= render :partial => 'filters'

#tooltip-centerer
  #tooltip.alert.alert-info
    %h2
      NEW TECH IS A COMMUNITY OF OVER 9,000 GEEKS WHO LIVE AND WORK IN COLORADO.
    %hr
    Hover a hotspot to see the breakout of our companies by county, or adjust the filters to customize
    %button.close{:type => "button", :data => {:dismiss => "alert" }} x

.gmap_wrapper
  .gmap{ :data => gmap_data }

#search_params{ :data => search_params_data }
#company-list
  %div{:id => "companies" }
#box-summary-county
#box-summary-total
= render :partial => 'jquerytpl'
#box-events-list
  #event-box
    = render :partial => 'company_list'
  #sponsor-box
    = render :partial => 'sponsor_box'

= content_for :javascripts do
  = javascript_include_tag("https://maps.googleapis.com/maps/api/js?sensor=false")
  = javascript_include_tag("http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.5/src/markerwithlabel.js")


= content_for :javascripts do
  = javascript_include_tag("https://maps.googleapis.com/maps/api/js?sensor=false")
  = javascript_include_tag("http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.5/src/markerwithlabel.js")

