= content_for :javascripts do
  = javascript_include_tag("https://maps.googleapis.com/maps/api/js?sensor=false")
  = javascript_include_tag("http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.5/src/markerwithlabel.js")

= content_for :navbar_extras do
  %form{:id => "search_form", :class => "navbar-search"}
    %input{:id => "search_query", :placeholder => "search for a company...", :class => "search-query span3"}

.container-fluid
  .search.pull-left
    .slider
      #years_slider
    %label{ :id => "years_range" }
  .pull-right
    = render :partial => 'filters'

.gmap_wrapper
  .gmap{ :data => { :offices_url => "#{companies_api_v1_url(:json)}", :counties_url => "#{counties_api_v1_url(:json)}", :tags_url => "#{tags_api_v1_url(:json)}", :employees_types_url => "#{employees_types_api_v1_url(:json)}", :investments_types_url => "#{investments_types_api_v1_url(:json)}", :categories_url => "#{categories_api_v1_url(:json)}"} }

#search_params{ :data => { :company_name => "", :from_year => "", :to_year => "", :tag_code => "", :current_county_id => "", :hiring => "", :employee_id => "", :investment_id => "", :category_id => "" } }
#company-list
  %div{:id => "companies", :class => "thumbnails" }
#box-summary-county
#box-summary-total


%script{:id => "company_tpl", :type=>"text/x-jquery-tmpl" }
  %div{:id => "company${marker_number}"}
    .thumbnail.company-row
      %img{:src => "${image_url}"}
      %h3 ${name}
      {{if hiring == true}}
      %span.hiring H
      {{/if}}

%script{:id => "total-box_tpl", :type=>"text/x-jquery-tmpl" }
  %table.table.summary-table
    %thead
      %tr
        %th ${totalCompanies}
        %th.summary-title NEW TECH COMPANIES

%script{:id => "county-box_tpl", :type=>"text/x-jquery-tmpl" }
  %table.table.summary-table
    %thead
      %tr.underlined
        %th
          ${name.toUpperCase()}
          %span.summary-small County
        %th.summary-numbers
          ${offices_numbers}
          %span.summary-small companies
    %tbody
      {{each companies_by_category}}
      %tr
        %td ${category_name}
        %td.summary-numbers ${companies_count}
      {{/each}}