= content_for :javascripts do
  = javascript_include_tag("https://maps.googleapis.com/maps/api/js?sensor=false")
  = javascript_include_tag("http://google-maps-utility-library-v3.googlecode.com/svn/tags/markerwithlabel/1.1.5/src/markerwithlabel.js")

= content_for :navbar_extras do
  %form{:id => "search_form", :class => "navbar-search"}
    %input{:id => "search_query", :placeholder => "search for a company...", :class => "search-query span3"}


= render :partial => 'filters'

#tooltip.alert.alert-info
  Tap a hotspot to zoom-in and see specific companies or customize by tapping a filter
  %button.close{:type => "button", :data => {:dismiss => "alert" }} x

.gmap_wrapper
  .gmap{ :data => gmap_data }

#search_params{ :data => search_params_data }
#company-list
  %div{:id => "companies", :class => "thumbnails" }
#box-summary-county
#box-summary-total
= render :partial => 'jquerytpl'
