.span12.new_company
  .span6
    .well
      .form-inputs.row
        = f.input :name, :label => "Company Name", :as => :string
        = f.input :address, :label => "Address", :as => :string
        = f.association :city, :label_method => :name_for_select, :collection => CityService::all
        = f.input :zip_code,  :as => :string
        = f.input :email_address, :as => :string
        = f.input :founded_year, :as => :string
        = f.input :tags_list, :as => :string, :hint => "E.g.,marketing-automation, lead-generation,analytics, email-marketing"
        = f.association :category, :label_method => :name, :collection => CategoryService::all
        = f.input :description
    .well
      = f.association :investments_type, as: :radio_buttons, item_wrapper_class: 'inline', :label => "Investments"
    .well.current-employees-count
      = f.association :employees_type, as: :radio_buttons, item_wrapper_class: 'inline', :label => "Current Employee"
  .span5
    .well.hiring
      = f.input :hiring, as: :radio_buttons, item_wrapper_class: 'inline', :label => "Hiring in the next 30 days"
    .well
      %span.header Images
      %span.btn.btn-primary.fileinput-button
        %i.icon-plus.icon-white
        %span.header Add Company Logo
        = f.file_field :image, :label => "Logo"
      %br.clearfix
      %p.help-block
        %br
        Upload a .jpg, .gif, or .png file.
        File size limit is 1 MB and for best results your logo should be 160x160 px.
      - unless company.new_record? || !company.image?
        %hr
        %ul.thumbnails
          %li.span4
            = image_tag( company.image_url )
            .caption
              %p
                = link_to "Cancel Company Logo", image_destroy_company_path(company), :class => "btn btn-danger btn-delete-photo", :method => :delete, :confirm => "Are you sure?"


    .well.clear
      .form-inputs.row
        = f.input :homepage_url, :as => :string, :hint => "E.g.,http://www.homepage.example"
        = f.input :twitter, :as => :string, :hint => "E.g.,newtech"
        = f.input :facebook, :as => :string, :hint => "E.g.,newtech"
        = f.input :jobs_url, :as => :string, :hint => "E.g.,http://www.blogurl.example"
  %br
  .control-group
    .controls
      .actions
        = f.submit 'Save', class: "btn btn-success btn-save"

