%table.table.table-striped.table-bordered.table-condensed
  %thead
    %th Company Name
    %th Address
    %th.cred Actions

  - @companies.each do |company|
    %tr
      %td= company.name
      %td= company.full_address
      %td.actions
        =link_to content_tag(:i, nil, :class => 'icon-edit icon-large'), edit_company_path(company), id: "edit_#{company.id}", class: "btn small"
        =link_to content_tag(:i, nil, :class => 'icon-trash icon-large'), company_path(company), method: :delete, id: "edit_#{company.id}", class: "btn small", :confirm => 'are you sure?'
        =link_to content_tag(:i, nil, :class => 'icon-briefcase icon-large'), company_jobs_path(company), id: "#{company.id}_jobs", class: "btn small"


= paginate @companies
