= simple_form_for(@company, :validate => true, :html => {:class => 'form-horizontal' }) do |f|
  .span12.new_company
    .span6
      .well
        .form-inputs.row
          = f.association :category, :collection => @categories, :item_wrapper_class => 'inline'
          = f.input :name, :label => "Company Name", :as => :string
          = f.simple_fields_for :offices do |office|
            = office.input :address1, :label => "Address", :as => :string
            = office.association :city
            = office.input :zip_code,  :as => :string
          = f.input :email_address, :as => :string
          = f.input :founded_year, :as => :string
          = f.input :description
      .well
        = f.input :investment, as: :radio_buttons, collection: ['<100,000',	'<500,000',	'<2M',	'<10M',	'>25M'], item_wrapper_class: 'inline'

    .span5
      .well
        = f.input :hiring, as: :radio_buttons, collection: ['Yes', 'No'], item_wrapper_class: 'inline'
      .well
        = f.input :image, :label => "Logo"
      .well
        = f.input :number_of_employees, as: :radio_buttons, collection: ['<10', '11-25', '26-75','76-250','>251'], item_wrapper_class: 'inline'
      .well
        .form-inputs.row
          = f.input :homepage_url, :as => :string
          = f.input :twitter, :as => :string
          = f.input :facebook, :as => :string
          = f.input :jobs_url, :as => :string
  %br
  .control-group
    .controls
      .actions
        = f.submit 'Save', class: "btn btn-success"


