%h3.page_title
  = @user.username
  %br
  %small
    = @user.email

= form_for @user, url: profile_update_path, method: :put, html: { class: "edit_user form-horizontal" } do |f|
  .well
    .row
      .span7
        .control-group
          = f.label :username, class: "control-label"
          .controls
            = f.text_field :username, class: "input-xlarge"
            %span.help-block Enter your name, so people you know can recognize you.
        .control-group
          = f.label :email, class: "control-label"
          .controls
            = f.text_field :email, class: "input-xlarge"
            %span.help-block We also use email for avatar detection.
        .control-group
          = f.label :is_freelancer, class: 'control-label'
          .controls
            = f.check_box :is_freelancer

        .control-group
          = f.label :receive_notification, class: 'control-label'
          .controls
            = f.check_box :receive_notification

    .form-actions
      = f.submit 'Update Profile', class: "btn save-btn"

= form_for @user, url: profile_password_path, method: :put, html: { class: "edit_user form-horizontal" } do |f|
  .well
    %p.slead After successful password update you will be redirected to login page where you should login with new password
    .row
      .span7
        .control-group
          = f.label :password, class: "control-label"
          .controls
            = f.password_field :password, class: "input-xlarge"
            %span.help-block Enter your name, so people you know can recognize you.
        .control-group
          = f.label :password_confirmation, class: "control-label"
          .controls
            = f.password_field :password_confirmation, class: "input-xlarge"
            %span.help-block We also use email for avatar detection.

    .form-actions
      = f.submit 'Update Password', class: "btn save-btn"