!!! 5
%html{ lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "New tech homepage"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "application", :media => "all"
    = yield(:stylesheets)
    = csrf_meta_tags
    = yield(:head)
    = stylesheet_link_tag    "application"
    = csrf_meta_tags
  %body
    %header.navbar
      %nav.navbar-inner
        .container-fluid
          .pull-left
            = link_to "", root_path, :class => "brand newtech"
            = render_navigation :level => 1..2, :expand_all => true, :renderer => :bootstrap
            = yield(:navbar_extras)
            .pull-right
              = render_navigation :level => 1..2, :expand_all => true, :renderer => :bootstrap, :context => :user
    #main{:role => "main"}
      = yield
      %footer
    = javascript_include_tag "application"
    = yield(:javascripts)
